<h1 class="current-category"><%= params[:category] %></h1>

<h1>THe Online Marketplace to sell and buy your groceries</h1>

<div>
  <h2><%= link_to "Upload your products now and start selling with Redmart!", new_product_path %></h2>
</div>

<% @products.each do |product| %>

<table class="table table-striped">

<thead>
  <tr>
    <th>Image</th>
    <th>Product Name</th>
    <th>Price(SGD)</th>
    <th>Description</th>
    <th>Buy</th>
  </tr>
</thead>

<tbody>


  <tr>
    <td>
      <%= image_tag product.picture.url if product.picture? %>
    </td>

    <td>
      <%= link_to product.name, product_path(product) %>
    </td>

    <td>
      <%= product[:price]%>
    </td>

    <td>
      <%= product[:description]%>
    </td>


    <td>
    <%= link_to "Buy Now", '#' %>
    </td>

  </tr>
</tbody>
</table>

<%end%>
